{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="success-container">
    <h2 class="success-title">Application Submitted Successfully!</h2>
    <p class="serial-number">Your unique serial number is: <b>{{ serial_number }}</b></p>
    <p class="serial-number">Make sure you note it down somewhere for future use!</p>
    <p class="serial-number">You'll need it to track the progress of your application.</p>
    <a href="{% url 'landing_page' %}" class="text-link">Return to Home</a>
</div>
{% endblock %}
